.comment-skeleton{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    height: 350px;
}
.comment-skeleton .p-skel{
    text-align: center;
}