.article-skeleton{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px lightgray;
    padding: 20px 30px;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
}
.article-skeleton .img{
    position: relative;
    top: -50px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.article-skeleton .title{
    text-align: center;
    position: relative;
    top: -60px;
}
.article-skeleton .para{
    position: relative;
    top: -30px;
    margin-bottom: 8px;
    
}
.article-skeleton .button{
    position: relative;
    top: -10px;
}
@media (min-width: 992px){
    .article-skeleton{
        position: sticky;
        top: 50px;
    }
}
