.course-card-container img{
    width: 100%; 

    object-fit: cover;

}


@media (min-width: 768px) and (max-width: 991.98px) {
  .card{
    height: 357px !important ;
  }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); /* کمی از پایین به بالا می‌آید که جذاب‌تر شود */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.course-animation{
  animation: fadeIn 0.5s ease-out forwards;
}

